.section1
{
    background: #ddf6ff;
}

.section6
{
    background-color: #000000;	
}
        
section div {
    font-family: 'Open Sans';
    font-style: normal;
    text-align: center;
    position: relative;
    top: 50%;  
    transform: translateY(-50%);
}


span1 {
    font-size: 4em;
    font-style: normal;
    color: rgb(31, 32, 29);
}
span2 {
    font-size: 4em;
    font-style: normal;
    color: rgb(75, 105, 19);
}
span3 {
    font-size: 4em;
    font-style: normal;
    color: rgb(78, 85, 65);
}
span3 {
    font-size: 4em;
    font-style: normal;
    color: rgb(190, 154, 53);
}

span4 {
    font-size: 4em;
    font-style: normal;
    color: rgb(196, 92, 44);
}
span5 {
    font-size: 4em;
    font-style: normal;
    color: rgb(196, 92, 44);
}